<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users Data</title>
    <link rel="stylesheet" href="{% static "CSS/newfile.css" %}"/>
  </head>
  <body>
    <h1>This is the User's data</h1>

    {% if usr_record %}
    <ol>
      {% for usr in usr_record %}
      <li>User : {{usr}}</li>
        <ul>
          <li>First Name :{{usr.fname}}</li>
          <li>Last Name :{{usr.lname}}</li>
          <li>Email ID:{{usr.email}}</li>
        </ul>
      {% endfor %}
    </ol>
    {% else %}
    <p>No data found</p>
    {% endif %}
  </body>
</html>
